# Claude
.claude/

# Environment
.env
.env.local

# Logs
*.log
*.txt
logs/

# MacOS
**/.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Next.js
.next/
.open-next/
out/

# Node.js
certs/
node_modules/

# Temporary files
*.bak
*.swp
*.tmp
*~

# VS Code
.history/

# Wrangler
.dev.vars
.wrangler/
src/generated/menu.js
src/generated/timestamps.json
