# Environment
.env
.env.local

# Hugo
**/.hugo_build.lock
**/archetypes
**/hugo_stats.json
**/public
**/resources

# Logs
*.log
*.txt
logs/

# MacOS
**/.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Temporary files
*.bak
*.swp
*.tmp
*~

# VS Code
.history/
