{
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none"
}
