{{- $readMore := (T "readMore") | default "Read more →" -}}
<div class="hx:mb-10">
  <a href="{{ .RelPermalink }}" class="hx:block hx:group">
    <h3 class="hx:font-semibold hx:tracking-tight hx:mt-6 hx:text-2xl hx:text-slate-900 hx:dark:text-slate-100 hx:group-hover:text-[color:hsl(var(--primary-hue),100%,50%)] hx:transition-colors">{{- .Title -}}<span class="hx:absolute hx:-mt-20" id="{{ .Title | anchorize }}"></span></h3>
  </a>
  {{- partial "author.html" . -}}
  <p class="hx:opacity-80 hx:mt-4 hx:leading-7">
    {{- with .Summary }}{{ . | plainify }}{{ else }}{{ .Description | default (partial "utils/page-description" .) }}{{ end -}}
  </p>
  <p class="hx:opacity-80 hx:mt-1 hx:leading-7">
    <a class="hx:text-[color:hsl(var(--primary-hue),100%,50%)] hx:underline hx:underline-offset-2 hx:decoration-from-font" href="{{ .RelPermalink }}">{{ $readMore }}</a>
  </p>
  {{ if site.Params.blog.list.displayTags }}
    <div class="hx:text-sm hx:mt-4 hx:leading-7">{{ partial "tags.html" (dict "context" .) }}</div>
  {{ end }}
</div>
