{{- $readMore := (T "readMore") | default "Read more →" -}}
<div class="hx:mb-10">
  <h3>
    <a style="color: inherit; text-decoration: none;" class="hx:block hx:font-semibold hx:mt-4 hx:text-2xl " href="{{ .RelPermalink }}">
      {{ .Title }}<span class="hx:absolute hx:-mt-20" id="{{ .Title | anchorize }}"></span>
    </a>
  </h3>
  <div class="hx:mt-4 hx:mb-4">
    {{- partial "author.html" . -}}
  </div>
  <p class="hx:opacity-80 hx:mt-4 hx:leading-7">
    {{- with .Summary }}{{ . | plainify }}{{ else }}{{ .Description | default (partial "utils/page-description" .) }}{{ end -}}
  </p>
  <p class="hx:opacity-80 hx:mt-1 hx:leading-7">
    <a class="hx:text-[color:hsl(var(--primary-hue),100%,50%)] hx:underline hx:underline-offset-2 hx:decoration-from-font" href="{{ .RelPermalink }}">{{ $readMore }}</a>
  </p>
  {{ if site.Params.blog.list.displayTags }}
    <div class="hx:text-sm hx:mt-4 hx:leading-7">{{ partial "tags.html" (dict "context" .) }}</div>
  {{ end }}
</div>
