{{ define "main" }}
  {{- $readMore := (T "readMore") | default "Read more →" -}}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" .) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" true) }}
        <div class="content">
          {{ if .Title }}<h1>{{ if eq .Data.Plural "tags" }}{{ .Data.Term }}{{ else }}{{ .Title }}{{ end }}</h1>{{ end }}
          {{ .Content }}
        </div>
        {{- $pages := .Pages -}}
        {{- if .Sections }}{{ $pages = .RegularPagesRecursive }}{{ end -}}
        {{- $pagerSize := site.Params.blog.list.pagerSize | default 10 -}}
        {{- $paginator := .Paginate $pages $pagerSize -}}
        {{- range $paginator.Pages }}
          <div class="hx:mb-10">
            <a href="{{ .RelPermalink }}" class="hx:block hx:group">
              <h3 class="hx:font-semibold hx:tracking-tight hx:mt-6 hx:text-2xl hx:text-slate-900 hx:dark:text-slate-100 hx:group-hover:text-[color:hsl(var(--primary-hue),100%,50%)] hx:transition-colors">{{ .Title }}</h3>
            </a>
            {{- partial "author.html" . -}}
            <p class="hx:opacity-80 hx:mt-4 hx:leading-7">
              {{- with .Summary }}{{ . | plainify }}{{ else }}{{ .Description | default (partial "utils/page-description" .) }}{{ end -}}
            </p>
            <p class="hx:opacity-80 hx:mt-1 hx:leading-7">
              <a class="hx:text-[color:hsl(var(--primary-hue),100%,50%)] hx:underline hx:underline-offset-2 hx:decoration-from-font" href="{{ .RelPermalink }}">{{ $readMore }}</a>
            </p>
            {{ if site.Params.blog.list.displayTags }}
              <div class="hx:text-sm hx:mt-4 hx:leading-7">{{ partial "tags.html" (dict "context" .) }}</div>
            {{ end }}
          </div>
        {{ end -}}
        {{- if gt $paginator.TotalPages 1 -}}
          {{ partial "components/blog-pager.html" $paginator }}
        {{- end -}}
      </main>
    </article>
    {{ partial "toc.html" . }}
  </div>
{{- end -}}
