{{ define "main" }}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" .) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" true) }}
        <div class="content">
          {{ if .Title }}<h1>{{ if eq .Data.Plural "tags" }}{{ .Data.Term }}{{ else }}{{ .Title }}{{ end }}</h1>{{ end }}
          {{ .Content }}
        </div>
        {{- $pages := .Pages -}}
        {{- if .Sections }}{{ $pages = .RegularPagesRecursive }}{{ end -}}
        {{- $pagerSize := site.Params.blog.list.pagerSize | default 10 -}}
        {{- $paginator := .Paginate $pages $pagerSize -}}
        {{- range $paginator.Pages }}
          {{- partial "post.html" . -}}
        {{ end -}}
        {{- if gt $paginator.TotalPages 1 -}}
          {{ partial "components/blog-pager.html" $paginator }}
        {{- end -}}
      </main>
    </article>
    {{ partial "toc.html" . }}
  </div>
{{- end -}}
