@import "nextra-theme-docs/style.css";
@import "tailwindcss";
@import "./markdown.css";
@import "./navbar.css";

/* Page Width */
:root:root {
  --nextra-content-width: 80rem;
}

/* Subnavbar Scroll Offset */
html:has(.nextra-subnavbar) {
  scroll-padding-top: calc(var(--nextra-navbar-height) + 3rem);
}
