{{ define "main" }}
<main>
    <div class="column left">
        <img src="/images/portrait.jpg" class="portrait" alt="{{ .Site.Params.author }}" />
    </div>
    <div class="column right">
        <h1>Hello.</h1>
        <h2><span class="typed"></span></h2>
        <p>Welcome to our public space.</p>
        <div class="links">
            {{ range .Site.Params.links -}}
            <a rel="me" href="{{ .url }}" title="{{ .title }}">
                <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
            </a>
            {{ end }}
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/typed.js"></script>
    <script src="/js/main.js"></script>
</main>
{{ end }}
