@reference "tailwindcss";

.related {
  @apply mt-12 border-t border-gray-200 pt-8;
}

:global(.dark) .related {
  @apply border-neutral-800;
}

.related h2 {
  @apply mt-2 flex items-center border-none pb-0;
}

.related h3 {
  @apply text-lg;
}

.related h3 + div {
  @apply relative max-h-20 overflow-hidden text-xs leading-5;
}

.related h3 + div::after {
  @apply absolute right-0 bottom-0 left-0 h-20;
  background: linear-gradient(to bottom, transparent, var(--x-color-white));
  content: "";
}

:global(.dark) .related h3 + div::after {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--x-color-neutral-800)
  );
}
