@reference "tailwindcss";

.button {
  @apply relative flex w-full cursor-pointer items-center rounded-lg bg-[color-mix(in_oklab,_var(--x-color-black)_5%,_transparent)] px-3 py-2 text-base leading-tight md:w-45 md:text-sm;
}

:global(.dark) .button {
  @apply bg-[color-mix(in_oklab,_var(--x-color-gray-50)_10%,_transparent)];
}

.button:hover {
  @apply opacity-85;
}

.placeholder {
  @apply text-base font-normal text-gray-600 md:text-sm;
}

:global(.dark) .placeholder {
  @apply text-gray-400;
}

.shortcut {
  @apply pointer-events-none absolute end-2.5 flex h-5 items-center rounded border border-gray-200 bg-white px-1.5 font-mono text-[10px] font-medium text-gray-600 select-none max-sm:hidden;
}

:global(.dark) .shortcut {
  @apply border-neutral-800 bg-[rgb(var(--nextra-bg))] text-gray-400;
}

:global(:root) {
  /* Accent */
  --docsearch-focus-color: var(--x-color-primary-600);
  --docsearch-highlight-color: var(--x-color-primary-600);
  --docsearch-hit-highlight-color: var(--x-color-primary-100);
  --docsearch-logo-color: var(--docsearch-secondary-text-color);
  --docsearch-primary-color: var(--x-color-primary-600);
  --docsearch-soft-primary-color: var(--x-color-primary-100);

  /* Keys */
  --docsearch-key-color: var(--x-color-gray-700);

  /* Layout */
  --docsearch-border-radius: 4px;
  --docsearch-container-background: color-mix(
    in oklab,
    var(--x-color-black) 25%,
    transparent
  );
  --docsearch-modal-width: 600px;
  --docsearch-spacing: 12px;

  /* Shadows */
  --docsearch-footer-shadow: none;
  --docsearch-hit-shadow: none;
  --docsearch-modal-shadow: none;
  --docsearch-searchbox-shadow: none;

  /* Status */
  --docsearch-error-color: var(--x-color-red-600);
  --docsearch-success-color: var(--x-color-green-100);

  /* Subtle UI elements */
  --docsearch-background-color: var(--x-color-gray-100);
  --docsearch-subtle-color: var(--x-color-gray-200);

  /* Surfaces */
  --docsearch-footer-background: var(--x-color-gray-100);
  --docsearch-hit-background: var(--x-color-gray-100);
  --docsearch-modal-background: var(--x-color-gray-100);
  --docsearch-search-button-background: var(--x-color-gray-100);
  --docsearch-searchbox-background: var(--x-color-gray-100);
  --docsearch-searchbox-focus-background: var(--x-color-gray-100);

  /* Text */
  --docsearch-hit-color: var(--x-color-gray-900);
  --docsearch-icon-color: var(--x-color-gray-600);
  --docsearch-muted-color: var(--x-color-gray-600);
  --docsearch-search-button-text-color: var(--x-color-gray-600);
  --docsearch-secondary-text-color: var(--x-color-gray-600);
  --docsearch-text-color: var(--x-color-gray-900);
}

:global(.dark) {
  /* Accent */
  --docsearch-hit-highlight-color: color-mix(
    in oklab,
    var(--x-color-primary-600) 20%,
    transparent
  );
  --docsearch-soft-primary-color: color-mix(
    in oklab,
    var(--x-color-primary-600) 20%,
    transparent
  );

  /* Keys */
  --docsearch-key-color: var(--x-color-gray-300);

  /* Layout */
  --docsearch-container-background: color-mix(
    in oklab,
    var(--x-color-black) 50%,
    transparent
  );

  /* Status */
  --docsearch-success-color: color-mix(
    in oklab,
    var(--x-color-green-600) 20%,
    transparent
  );

  /* Subtle UI elements */
  --docsearch-background-color: var(--x-color-neutral-900);
  --docsearch-subtle-color: var(--x-color-neutral-800);

  /* Surfaces */
  --docsearch-footer-background: var(--x-color-neutral-900);
  --docsearch-hit-background: var(--x-color-neutral-900);
  --docsearch-modal-background: var(--x-color-neutral-900);
  --docsearch-search-button-background: var(--x-color-neutral-900);
  --docsearch-searchbox-background: var(--x-color-neutral-900);
  --docsearch-searchbox-focus-background: var(--x-color-neutral-900);

  /* Text */
  --docsearch-hit-color: var(--x-color-gray-100);
  --docsearch-icon-color: var(--x-color-gray-400);
  --docsearch-muted-color: var(--x-color-gray-400);
  --docsearch-search-button-text-color: var(--x-color-gray-400);
  --docsearch-secondary-text-color: var(--x-color-gray-400);
  --docsearch-text-color: var(--x-color-gray-100);
}

:global(.DocSearch-Commands-Key) {
  @apply border border-gray-200 shadow-none;
}

:global(.dark .DocSearch-Commands-Key) {
  @apply border-neutral-800;
}

:global(.DocSearch-Container) {
  @apply backdrop-filter-none;
}

:global(.DocSearch-Footer) {
  @apply border-t border-gray-200;
}

:global(.dark .DocSearch-Footer) {
  @apply border-neutral-800;
}

:global(.DocSearch-Hit-source) {
  @apply text-lg font-normal;
}

:global(.DocSearch-Logo a) {
  color: var(--docsearch-secondary-text-color);
}

:global(.DocSearch-Logo svg .cls-1),
:global(.DocSearch-Logo svg .cls-2) {
  @apply fill-current;
}

:global(.DocSearch-Modal),
:global(.DocSearch-Form) {
  @apply border border-gray-200;
}

:global(.dark .DocSearch-Modal),
:global(.dark .DocSearch-Form) {
  @apply border-neutral-800;
}
