@reference "tailwindcss";

.attribution {
  @apply mt-2 text-sm text-[var(--callout-color)];
}

.body p {
  @apply leading-5;
}

.callout {
  @apply my-4 border-l-4 border-l-[var(--callout-color)] px-4 text-sm leading-5;
}

.caution {
  --callout-color: var(--x-color-red-700);
}

:global(.dark) .caution {
  --callout-color: var(--x-color-red-500);
}

.important {
  --callout-color: var(--x-color-purple-600);
}

:global(.dark) .important {
  --callout-color: var(--x-color-purple-400);
}

.note {
  --callout-color: var(--x-color-blue-700);
}

:global(.dark) .note {
  --callout-color: var(--x-color-blue-400);
}

.quote {
  --callout-color: var(--x-color-slate-700);
}

:global(.dark) .quote {
  --callout-color: var(--x-color-slate-200);
}

.tip {
  --callout-color: var(--x-color-green-700);
}

:global(.dark) .tip {
  --callout-color: var(--x-color-green-500);
}

.title {
  @apply mb-2 flex items-center text-base font-bold text-[var(--callout-color)];
}

.title svg {
  @apply mr-2 size-4;
  fill: var(--callout-color);
}

.warning {
  --callout-color: var(--x-color-yellow-700);
}

:global(.dark) .warning {
  --callout-color: var(--x-color-yellow-500);
}
