name: Documentation

on:
  pull_request:
    paths:
      - claude/**
      - docs/**
      - k3s-cluster/**
  push:
    branches:
      - main
    paths:
      - claude/**
      - docs/**
      - k3s-cluster/**

concurrency:
  cancel-in-progress: false
  group: pages

defaults:
  run:
    shell: bash

permissions:
  checks: write
  id-token: write
  issues: write
  pages: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
          cache: false

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 0.154.2
          extended: true

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install node dependencies
        run: npm install handlebars

      - name: Configure repository
        uses: actions/github-script@v8
        with:
          script: |
            const { Workflow } = require('./.github/actions/handlers');
            const workflow = new Workflow({ github, context, core, exec });
            await workflow.configureRepository();

      - name: Build documentation
        uses: actions/github-script@v8
        with:
          script: |
            const { Workflow } = require('./.github/actions/handlers');
            const workflow = new Workflow({ github, context, core, exec });
            await workflow.buildDocumentation();

      - name: Configure pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public

      - name: Report workflow issue
        uses: actions/github-script@v8
        if: always()
        with:
          script: |
            const { Workflow } = require('./.github/actions/handlers');
            const workflow = new Workflow({ github, context, core, exec });
            await workflow.reportIssue();

  deploy:
    name: Deploy
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.event_name == 'push'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy documentation
        id: deployment
        uses: actions/deploy-pages@v4
